<h2>Formas de Pagamento</h2>
<a [routerLink]="['/admin/forma-de-pagamento/adicionar']">Adicionar</a>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formaDePagamento of formasDePagamento">
      <td>{{formaDePagamento.nome}}</td>
      <td>{{formaDePagamento.tipo}}</td>
      <td><a [routerLink]="['/admin/forma-de-pagamento/editar', formaDePagamento.id]">Editar</a></td>
      <td><a (click)="remove(formaDePagamento)">Deletar</a></td>
    </tr>
  </tbody>
</table>
