<h2>Entregar em {{ cep }}</h2>

<section *ngIf="recomendacoes?.length">
  <h2>Recomendações</h2>
</section>

<section *ngIf="tiposDeCozinha?.length">
  <h2>Tipos de Cozinha</h2>
  <ul *ngFor="let tipoDeCozinha of tiposDeCozinha">
    <li><a [routerLink]="['/restaurantes', cep, 'tipos-de-cozinha', tipoDeCozinha.id]">{{tipoDeCozinha.nome}}</a></li>
  </ul>
</section>

<section *ngIf="restaurantesMaisProximos?.length">
  <h2>Restaurantes próximos</h2>
  <div *ngFor="let restaurante of restaurantesMaisProximos">
    <p>{{restaurante.nome}}</p>
    <p>★ {{ restaurante.mediaAvaliacoes | number:'1.1-1' }}</p>
    <p><span>{{restaurante.tipoDeCozinha.nome}}</span> • <span>{{restaurante.tempoDeEntregaMinimoEmMinutos}} - {{restaurante.tempoDeEntregaMaximoEmMinutos}}</span> min</p>
    <p>{{ restaurante.distancia | number:'1.1-1' }} km</p>
    <p>{{ restaurante.taxaDeEntregaEmReais | currency:'BRL' }}</p>
    <button (click)="escolher(restaurante)">Escolher</button>
  </div>
</section>
