<h2>Formas de pagamentos</h2>

<form #formasDePagamentoForm="ngForm">
  <select [(ngModel)]="formaDePagamentoParaAdicionar" name="formaDePagamentoParaAdicionar">
    <option *ngFor="let forma of todasAsFormasDePagamento" [ngValue]="forma">{{ forma.nome }}</option>
  </select>
  <button (click)="adicionaFormaDePagamentoAoRestaurante()">Adicionar</button>
</form>

<ul>
  <li *ngFor="let formaDePagamento of formasDePagamentoDoRestaurante">
    <span>{{ formaDePagamento.nome }}</span>
    <a (click)="remove(formaDePagamento)">Deletar</a>
  </li>
</ul>
