<h2>Restaurantes em aprovação</h2>

<table>
  <thead>
    <tr>
      <th>Restaurante</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurante of restaurantesEmAprovacao">
      <td>{{ restaurante.nome }}</td>
      <td><button (click)="detalha(restaurante)">Detalhar</button></td>
      <td><button [disabled]="restaurante.aprovado" (click)="aprova(restaurante)">Aprovar</button></td>
      <td>{{ restaurante.aprovado ? 'Aprovado' : '' }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="restauranteEmDetalhe">
  <h3>Restaurante</h3>
  <div>
      <p><strong>Nome:</strong> {{ restauranteEmDetalhe.nome }}</p>
      <p><strong>Tipo de cozinha:</strong> {{ restauranteEmDetalhe.tipoDeCozinha.nome }}</p>
      <p><strong>CNPJ:</strong> {{ restauranteEmDetalhe.cnpj }}</p>
      <p><strong>Descrição:</strong> {{ restauranteEmDetalhe.descricao }}</p>
      <p><strong>Taxa de entrega:</strong> {{ restauranteEmDetalhe.taxaDeEntregaEmReais | currency:'BRL' }}</p>
      <p><strong>Tempo de entrega mínimo (em minutos):</strong> {{ restauranteEmDetalhe.tempoDeEntregaMinimoEmMinutos}}</p>
      <p><strong>Tempo de entrega máximo (em minutos):</strong> {{ restauranteEmDetalhe.tempoDeEntregaMaximoEmMinutos }}</p>
  </div>
  <div *ngIf="formasDePagamento && formasDePagamento.length">
    <h4>Formas de pagamento</h4>
    <ul *ngFor="let forma of formasDePagamento">
      <li>{{ forma.nome }}</li>
    </ul>
  </div>
  <div *ngIf="horariosDeFuncionamento && horariosDeFuncionamento.length">
    <h4>Horários de funcionamento</h4>
    <table>
        <thead>
          <tr>
            <th>Dia da semana</th>
            <th>Horário de abertura</th>
            <th>Horário de fechamento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horarioDeFuncionamento of horariosDeFuncionamento">
              <td>{{ horarioDeFuncionamento.diaDaSemana }}</td>
              <td>{{ horarioDeFuncionamento.horarioDeAbertura }}</td>
              <td>{{ horarioDeFuncionamento.horarioDeFechamento }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div *ngIf="cardapio && cardapio.categorias && cardapio.categorias.length">
    <h4>Cardápio</h4>
        <div *ngFor="let categoria of cardapio.categorias">
          <h3>{{ categoria.nome | uppercase }}</h3>
          <div *ngFor="let item of categoria.itens">
            <h4>{{ item.nome }}</h4>
            <p>{{ item.descricao }}</p>
            <p *ngIf="!item.precoPromocional; else promocional">{{ item.preco | currency:'BRL' }}</p>
            <ng-template #promocional>
              <del>{{ item.preco | currency:'BRL' }}</del>
              <p>{{ item.precoPromocional | currency:'BRL' }}</p>
            </ng-template>
          </div>
        </div>
  </div>
</div>
