<h2><small>Categoria: </small> {{ categoria.nome }}</h2>

<h3>Cardápio do restaurante: <small>{{ restaurante.nome }}</small></h3>

<form #itemDoCardapioForm="ngForm" (ngSubmit)="salva()">

  <input type="hidden" name="id" [(ngModel)]="item.id">

  <div>
    <label for="nome">Nome</label>
    <input required name="nome" id="nome" [(ngModel)]="item.nome" #nome>
  </div>

  <div>
    <label for="descricao">Descrição</label>
    <input required name="descricao" id="descricao" [(ngModel)]="item.descricao" #descricao>
  </div>

  <div>
    <label for="preco">Preço</label>
    <input required name="preco" id="preco" [(ngModel)]="item.preco" #preco>
  </div>

  <div>
    <label for="precoPromocional">Preço Promocional</label>
    <input name="precoPromocional" id="precoPromocional" [(ngModel)]="item.precoPromocional" #precoPromocional>
  </div>

  <button type="submit" [disabled]="!itemDoCardapioForm.form.valid">Salvar</button>

  <a [routerLink]="['/cadastro/restaurante',restaurante.id, 'cardapio', cardapio.id, 'categoria', categoria.id]">Voltar</a>

</form>

