<section *ngIf="restaurante">
  <h2>{{restaurante.nome}}</h2>
  <p>★ {{ restaurante.mediaAvaliacoes | number:'1.1-1' }}</p>
  <p><span>{{restaurante.tipoDeCozinha.nome}}</span> • <span>{{restaurante.tempoDeEntregaMinimoEmMinutos}} - {{restaurante.tempoDeEntregaMaximoEmMinutos}}</span> min</p>
  <p>{{ restaurante.distancia | number:'1.1-1' }} km</p>
  <p>{{ restaurante.descricao }}</p>
</section>

<section *ngIf="exibeFormularioDeEntrega">
  <h3>Informações de Entrega</h3>
  <form #entregaForm="ngForm" (ngSubmit)="registraEntrega()">
    <div>
      <label for="nome">Nome</label>
      <input required id="nome" name="nome" maxlength="100" [(ngModel)]="pedido.entrega.cliente.nome">
    </div>
    <div>
      <label for="telefone">Telefone</label>
      <input required id="telefone" name="telefone" maxlength="10" [(ngModel)]="pedido.entrega.cliente.telefone">
    </div>
    <div>
      <label for="cep">CEP</label>
      <input required id="cep" name="cep" pattern="\d{8}" maxlength="8" [(ngModel)]="pedido.entrega.cep">
    </div>
    <div>
      <label for="endereco">Endereço</label>
      <textarea required id="endereco" name="endereco" [(ngModel)]="pedido.entrega.endereco"></textarea>
    </div>
    <div>
      <label for="complemento">Complemento</label>
      <textarea id="complemento" name="complemento" [(ngModel)]="pedido.entrega.complemento"></textarea>
    </div>
    <button type="submit" [disabled]="!entregaForm.form.valid">Confirmar pedido</button>
  </form>
</section>


<section *ngIf="itemDoPedidoEscolhido">
  <p><strong>{{ itemDoPedidoEscolhido.itemDoCardapio?.nome }}</strong></p>
  <form #itemDoPedidoEscolhidoForm="ngForm" (ngSubmit)="adicionaItemAoPedido()">
    <div>
        <label for="quantidade">Quantidade</label>
        <input type="number" min="1" id="quantidade" name="quantidade" [(ngModel)]="itemDoPedidoEscolhido.quantidade">
    </div>
    <div>
        <label for="observacao">Observação</label>
        <textarea id="observacao" name="observacao"  [(ngModel)]="itemDoPedidoEscolhido.observacao"></textarea>
    </div>
    <button type="submit" [disabled]="!itemDoPedidoEscolhidoForm.form.valid">{{ adicionandoItemAoPedido ? 'Adicionar':'Atualizar' }}</button>
  </form>
</section>

<section *ngIf="restaurante && pedido.itens?.length">
  <h2>Pedido</h2>
  <div *ngFor="let itemPedido of pedido.itens">
    <p>{{ itemPedido.quantidade }}x {{ itemPedido.itemDoCardapio.nome }}
      <span>{{ calculaSubTotal(itemPedido) | currency:'BRL' }}</span></p>
    <p><small>{{ itemPedido.observacao }}</small></p>
    <p><button (click)="editaItemDoPedido(itemPedido)">Editar</button> <button (click)="removeItemDoPedido(itemPedido)">Remover</button></p>
  </div>
  <p>Taxa de entrega: {{ restaurante.taxaDeEntregaEmReais ? (restaurante.taxaDeEntregaEmReais | currency:'BRL') : 'Grátis' }}</p>
  <p>Total: {{ totalDoPedido() | currency:'BRL' }}</p>
  <button (click)="fazPedido()">Fazer Pedido</button>
</section>

<section *ngIf="restaurante && cardapio">
  <h2>Cardápio</h2>
  <div *ngFor="let categoria of cardapio.categorias">
    <h3>{{ categoria.nome | uppercase }}</h3>
    <div *ngFor="let itemCardapio of categoria.itens" (click)="escolheItemDoCardapio(itemCardapio)">
      <h4>{{ itemCardapio.nome }}</h4>
      <p>{{ itemCardapio.descricao }}</p>
      <p *ngIf="!itemCardapio.precoPromocional; else promocional">{{ itemCardapio.preco | currency:'BRL' }}</p>
      <ng-template #promocional>
        <del>{{ itemCardapio.preco | currency:'BRL' }}</del>
        <p>{{ itemCardapio.precoPromocional | currency:'BRL' }}</p>
      </ng-template>

    </div>
  </div>
</section>

<section *ngIf="restaurante && avaliacoes.length">
  <h2>Avaliações</h2>
  <div *ngFor="let avaliacao of avaliacoes">
    <p>Nota: {{ avaliacao.nota }}</p>
    <p>{{ avaliacao.comentario }}</p>
  </div>
</section>

