<form #tipoDeCozinhaForm="ngForm" (ngSubmit)="save(tipoDeCozinhaForm.value)">
    <h2>{{tipoDeCozinha.nome ? 'Editar' : 'Adicionar'}} Tipo de Cozinha</h2>
    <input type="hidden" name="id" [(ngModel)]="tipoDeCozinha.id">
    <input placeholder="Nome do tipo de cozinha" [(ngModel)]="tipoDeCozinha.nome"
              required name="nome" #nome>
    <button type="submit" [disabled]="!tipoDeCozinhaForm.form.valid">Salvar</button>
    <a routerLink="/admin/tipo-de-cozinha/listar">Cancelar</a>
</form>
